* {
    box-sizing: border-box;
}
q
#menu_control {
    position: absolute;
    z-index: 10;
}

header{
    z-index:1;
    width: 100%;
    position: fixed;
    width:100%;
    height: 60px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header img{
    padding: 5px 20px;
    height: 60px;
}

header input{
    display: none;
    position: absolute;
}

header nav {
    position: absolute;
    height: 100vh;
    width: 60%;
    background-color: rgb(47, 64, 223);
    top: 60px;
    left: -100%;
    transition: 0.5s;
}

input:checked~ nav {
    left: 0;
}

header label{
    display: block;
    position: absolute;
    top: 0;
    right:5px;
}

header nav a{
    color: white;
    padding: 20px;
    font-size: 24px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid white;
}

nav a:hover{
    color:rgb(236, 110, 110) ;
}

.banner{
    position: relative;
}

.banner img{
    margin: 60px 0px 0px 0px;
    width: 100%;
}

.banner button{
    background-color: #17A398;
    position: absolute;
    font-size: 20px;
    color: white;
    top: 60%;
    left: 50%;
    border-radius: 140px;
    height: 30px;
    width: 90px;
    border: none;
    margin: -15px 0px 0px -45px;
}

.intro_first{
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wrap img{
    width: 100%;
}

.col_text{
    margin: 10px;
}

.col_text h2{
    padding: 0px 0px 5px 0px;
    text-align: center;
    font-size: 32px;
    color: #4F4F4F;
    font-family: Nunito;
    font-weight: 800;
}

.col_text p{
    font-family: Nunito;
    line-height: 28px;
}

.intro_frc{
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.wrap h2{
    text-align: center;
    font-size: 32px;
    color: #4F4F4F;
    font-family: Nunito;
    font-weight: 800;
}

.about_us{
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.block4 {
    height: 300px;
    text-align: center;
    padding: 10px 40px 0px 40px;
    line-height: 28px;
}


.block4 img{
    width: 100px;

}


.wrap.web{
    display: none;
}

/* .item{
    margin: 20px 10px 20px 10px;
}

.item h3{
    font-family: Nunito;
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

.item img{
    display: block;
    margin: auto;
    width: 30%;
}

.item p{
    line-height: 28px;
} */

.awards{
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.awards .col_pic{
    display: none;
}
.awards p{
    font-size: 16px;
}

.prospect .wrap{
    text-align: center;
}
.prospect h2{
    margin: 10px;
}


.prospect .card-content{
    margin-top: 30px;
}

.prospect .card{
    margin: auto;
    display: block;
    padding: 20px;
    width: 60%;
    border:2px solid rgb(0, 0, 0); 
}

.card img{
    display: block;
    margin: auto;
    width: 30%;
}

.card h3{
    margin: 10px 0px 10px 0px;
}

.sponser{
    margin: 60px;
}

.sponser h2{
    font-weight: 800;
    text-align: center;
    font-size: 32px;
    color: #4F4F4F;
    font-family: Nunito;
    
}

.sponser h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 30, 30);
    font-size: 50px;
    font-weight: 800;
}

.footer{
    width: 100%;
    background: #D1D7D8;
    text-align: center;
    padding: 10px;
}

.footer p{
    line-height: 20px;
    margin: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.footer .icon img{
    width: 100px;
    margin: 10px 0px;
}

.footer a{
    margin: 10px 5px 10px 5px;
}

@media screen and (min-width:768px) {

   header .menu_btn{
        display: none;
    }
    
    header{
        display: flex;

    }
    header .logo{
        width: 10%;
    }
    header nav{
        background-color:transparent;
        height: 60px;
        width: 90%;
        position: relative;
        left:0;
        top:0;
        display: flex;
        justify-content: flex-end;
        
    }

    header nav a{
        font-weight: 600;
        transition: 0.5s;
        font-family: 'Lato', sans-serif;
        color: black;
        border-bottom: none;
    }

   
    header nav a:hover{
        
        
        color:rgb(236, 110, 110) ;
    } 

    .banner button{
        height: 60px;
        width: 180px;
        margin: -30px 0px 0px -90px;
        font-size: 24px;
    }

    .intro_first .wrap{
        padding-top: 80px;
        margin: auto;
        width: 960px;
        display: flex;
    }

    .intro_first .wrap .col_text{
        width: 60%;
    }

    .intro_frc .wrap{
        padding-top: 80px;
        margin: auto;
        width: 960px;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .intro_frc .wrap .col_text{
        width: 60%;
    }

    .about_us .wrap{
        padding-top: 80px;
        margin: auto;
        width: 960px;
        display: flex;
    }
    
    .about_us .wrap .col_text{
        padding-top: 100px;
        width: 60%;
    }
    
    .carousel{
        display: none;
    }

    .wrap.web{
        display: block;
        padding-top:40px ;
        margin: auto;
        width: 960px;
        
    }
    .col_1{
        width: 100%;
        display: flex;
        text-align: center;
    }
    .col_1 .item{
        width: 33%;
        margin: 0px 30px;
    }

    .col_2{
        margin-top: 40px;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .col_2 .item{
        width: 33%;
    }

    .wrap.wrap.web img{
        margin: auto;
        width: 100px;
    }

    .awards .wrap{
        padding-top: 80px;
        margin: auto;
        width: 960px;
        display: flex;
    }

    .awards .wrap .col_text{
        width: 50%;
    }

    .awards .wrap .col_text h2{
        text-align: center;
        font-size: 32px;
        color: #4F4F4F;
        font-family: Nunito;
        font-weight: 800;
    }

    .awards .wrap .col_pic{
        width: 50%;
        display: inline;
    }

    .prospect .wrap{
        padding-top: 80px;
        margin: auto;
        width: 960px;
    }
    
    .card-content{
        display: flex;
    }
    
    .prospect .card{
        margin:0px 30px;
    }

    .sponser{
        margin-top: 100px;
    }
    
    .footer .wrap{
        margin:auto;
        width: 80%;
        display: flex;
    }
    .footer .wrap .text{
        width: 60%;
        text-align: left;
        padding-top: 30px;
        padding-left:10%;
    }

    .footer .wrap .icon{
        display: flex;
        width: 40%;
    }

    .footer .wrap .icon a{
        margin: 0px 30px;
    }




   

}