<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>About Us | Team 7130</title>

</head>

<body>
    <header>
        <input type="checkbox" name="" id="menu_control">
        <div class="logo">
            <a href="/index.html">
                <img src="/pic/logo.png">
            </a>
        </div>
        <label for="menu_control" class="menu_btn">
            <img src="/pic/menu.png" alt="">
        </label>
        <nav>
            <a href="#home">HOME</a>
            <a href="#intro_first">ABOUT FIRST</a>
            <a href="#about_us">ABOUT US</a>
            <a href="#awards">AWARDS</a>
            <a href="#sponsers">SPONSORS</a>
            <a href="/components/About/index.html">TEST</a>
        </nav>
    </header>

</body>

</html>